@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

.adminMain_Body {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin_columnOne {
  height: 100dvh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171717;
}

.staffLogo {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: #171717;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  user-select: none;
}

.staffLogo .tgp_logo {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #171717 !important;
}

.staffLogo .tgp_logo .img_logo {
  height: 60% !important;
  width: 60%;
  display: flex;
}

.staffLogo .tgp_logo .img_logo img {
  z-index: 99;
  height: 100%;
  width: 100%;
}

.staffLogo .tgp_title {
  height: 100%;
  width: 70%;
  background-color: #171717 !important;
  display: flex;
  align-items: flex-end;
}

.tgp_name {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #d8bc59;
}

.adminMenu {
  height: 75%;
  width: 100%;
  background-color: #171717 !important;
  user-select: none;
}

.adminOptions {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  height: 10%;
  width: 90%;
  padding-top: 8px;
  padding-left: 15px;
  text-align: center;
  align-items: center;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  background-color: transparent !important;
  transition: 0.2s ease-in-out;
  padding-bottom: 6px;
  display: flex;
}

.options:hover {
  background-color: rgba(245, 245, 245, 0.1) !important;
  color: whitesmoke;
}

.options.active {
  background-color: rgba(216, 188, 89, 0.25);
  border-left: 4px solid #d8bc59;
}

.options svg {
  color: white;
}

.options:hover svg {
  color: #d8bc59;
}

.options.active svg {
  color: #d8bc59;
}

.adminUserProfile {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  height: 10%;
  width: 100%;
  background-color: #171717;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_profile {
  height: 70%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(72, 68, 68);
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75%;
  width: 13%;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
  color: rgb(0, 0, 0);
}

.user_acc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 83%;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

/* Column Two */

.showmenu {
  position: absolute;
  height: 150px;
  width: 340px;
  left: 0;
  bottom: 0;
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.showmenu .user_menu {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showmenu .user_menu span {
  height: 90%;
  width: 100%;
  background-color: #373737;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  color: white;
}

.admin_columnTwo {
  height: 100dvh;
  width: 75%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
}

.user_Acc {
  position: absolute;
  height: 100%;
  width: 75%;
  margin-left: 25%;
  background-color: aliceblue;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userprofile_container {
  height: 80%;
  width: 80%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.user_col1 {
  height: 100%;
  width: 25%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

.userprofile_img {
  height: 27%;
  width: 78%;
  background-color: #d6c791;
  border-radius: 50%;
}

.userinfo {
  height: 72%;
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userinfo .userinfo_container {
  height: 90%;
  width: 90%;
  background-color: #000000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.userinfo_container span {
  height: 40px;
  width: 90%;
  background-color: #373737;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.userinfo_container span.active-profile-tab {
  background-color: rgba(216, 188, 89, 0.5);
  border-left: 3px solid #d8bc59;
}

.user_col2_one {
  height: 100%;
  width: 75%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

.user_col2_one .user_row {
  height: 50%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user_imgprofile {
  height: 85%;
  width: 38%;
  background-color: #9d9579;
  border-radius: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.user_imglogo {
  height: 50px;
  width: 50px;
  background-color: rgb(77, 71, 71);
  border-radius: 50%;
}

.user_imglogo img {
  height: 100%;
  width: 100%;
}

.profile {
  justify-content: flex-start !important;
}

.userName {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userName span {
  height: 50%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.save_user {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.user_col2_two {
  height: 100%;
  width: 75%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

.user_col2_two .user_row {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.password_choice {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.password_choice button {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.password_choice .form-floating {
  width: 100%;
}

.user_col2_three {
  height: 100%;
  width: 75%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

.user_col2_three .user_row {
  height: 50%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.delete_user {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}