.approved_header{
    height: 10%;
    width: 100%;
    
    display: flex;

    border-bottom: 1px solid black;
    user-select: none;

    background-color: white;
}

.approved_body{
    height: 90%;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;

    background-color: white;
}

.approved_body .row{
    border-bottom: 1px solid black;

    cursor: pointer;
}
.approvalForm{
    user-select: none;
}

.approve_Details{
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    width: 100%;

    font-size: 14px;
}