.denied_header{
    height: 10%;
    width: 100%;

    background-color: white;
    
    display: flex;

    border-bottom: 1px solid black;
    user-select: none;
}

.denied_body{
    height: 90%;
    width: 100%;

    background-color: white;

    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
}

.denied_body .row{
    border-bottom: 1px solid black;

    cursor: pointer;
}

.deny_box span{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.deny_box span button{
    background-color: #89b4ef;

    height: 35px;
    width: 100px;
    padding: 10px;
}