.pending_header{
    height: 10%;
    width: 100%;
    
    display: flex;

    border-bottom: 1px solid black;
    background-color: white;
}

.pending_body{
    height: 90%;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    background-color: white;
}

.pending_body .row{
    border-bottom: 1px solid black;

    cursor: pointer;

    background-color: white;
}


.approvalForm{
    position: fixed;
    top: 22%;
    left: 50%;
    width: 25%;
    height: 65%;
    background: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000;

    z-index: 9;

    border-radius: 15px;
}

.approvalForm .form_header{
    border-bottom: 1px solid black;
    height: 8%;
    width: 90%;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.request-details{
    height: 92%;
    width: 100%;
}

.request-details span{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    font-size: 14px;
}

.approve_btn{
    background-color: rgb(52, 90, 243);

    height: 35px;
    color: white;
}
.deny_btn{
    background-color: rgb(248, 81, 81);
    height: 35px;

    color: white;
}

.approveDetails{
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    width: 100%;
}

.approveDetails span{
    font-size: 7px;
}