.display_sched{
    display: flex;
    flex-direction: column;
    height:80%;
    width: 63%;

    background-color: #7c7c7c;

    margin-bottom: 120px;
}
.dateHeader{
    height: 10%;
    width: 100%;

    background-color: white !important;
    display: flex;
    user-select: none;
}
.dateHeader span{
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

    font-weight: 600;

    background-color: white !important;
}
.timeSpan{
    border-left: 1px solid black;
}
.sundayRight{
    border-right: 1px solid black;
}

.dateBody{
    display: flex;
    height: 90%;
    width: 100%;
    min-height: 600px;

    background-color: antiquewhite;
}

.dateColumn {
    flex: 1 1 0; /* Grow, shrink, basis 0 */
    background-color: antiquewhite;
    border-right: 1px solid black;
    display: flex;
}

.timeColumn{
    height: 100%;
    background-color: rgb(175, 231, 212);
    
    display: flex !important;
    flex-direction: column !important;

}
.timeColumn span{
    flex: 1;
    border-bottom: 1px solid black;
    background-color: white !important;
    border-left: 1px solid black;

    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.monday{
    height: 100%;
    background-color: rgb(175, 231, 212);
    
    display: flex !important;
    flex-direction: column !important;
}

.monday span{
    flex: 1;
    border-bottom: 1px solid black;
    background-color: azure;

    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.monday span input{
    height: 100%;
    width: 100%;
    border: none;

    font-size: 10px;
    font-weight: 500;
}
.dateColumn input[type="text"] {
    text-align: center;
}
.monday span input::placeholder{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    
}

.saveSched{
    position: absolute;
    right: 0 !important;
    bottom: 0 !important;
}

.saveSched button{
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    font-size: 12px;
    margin-bottom: 1px;
}

.viewSched{
    position: absolute;
    right: 25;
    bottom: 0 !important;
    margin-left: 250px;
}

.viewSched button{
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    font-size: 12px;
    margin-bottom: 1px;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .timeColumn span{
        font-size: 8px;
    }

.saveSched{
    position: absolute;
    right: 0;
    bottom: 0 !important;
    margin-bottom: 10px;
}

.saveSched button{
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
    font-size: 8px;
    margin-bottom: 1px;
}

 }