.requestBody{
    height: 90%;
    width: 90%;
    

}

.adminRequestTitle{
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    user-select: none;

    background-color: white;
}

.pending_tab{
    height: 60%;
    width:22%;

    font-size: 20px;
    font-weight: 600;
    
}

.pending_tab.active {
    color: #D8BC59; /* Change to your desired color */
    font-weight: bold; /* Optional: make it bold */
}

.adminRequestBody{
    height: 90%;
    width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}