.login_mainbody{
    height: 100vh;
    width: 100%;

    background-color: rgb(243, 215, 178) !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container{
    height: 75%;
    width: 60%;
    
    background-color: azure;

    display: flex;
    justify-content: center;
    align-items: center;
}

.column1{
    width: 50%;
    height: 100%;

    background-color: rgb(117, 117, 117);
}

.column2{
    width: 50%;
    height: 100%;

    background-color: rgba(250, 255, 221, 0.805);

    display: flex;
    justify-content: center;
    align-items: center;
}

.logform{
        height: 70%;
        width: 70%;

        background-color: blanchedalmond;

        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        
}

.form_title{
        height: 20%;
        width: 100%;

        background-color: rgb(113, 113, 113);

        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
}

form{
    text-align: center;
}

 form p{
    font-size: 13px;
    padding: 3px;
 }
 .input-group-text{
    width: 100px;
 }
 .icon-adjust {
  position: relative;
  bottom: 2px; /* Move up */
}

form button{
    background-color: #D8BA59B2 !important;
    width: 97%;

}

form button span{
    font-weight: 650;
}

.sign_fontsize{
    font-size: 12px;
}