.staffMain_Body{
    height: 100dvh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

    .staff_columnOne{
        height: 100dvh;
        width: 30%;

        background-color: aqua;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

            .staffLogo{
                height: 15%;
                width: 100%;

                background-color: rgb(238, 238, 175);
            }

            .staffMenu{
                height: 75%;
                width: 100%;

                background-color: black !important;
            }

                    .staffOptions{
                        height: 90%;
                        width: 100%;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .options{
                        height: 10%;
                        width: 90%;
                        padding-top: 8px;

                        background-color: rgba(82, 93, 177, 0.67);
                        text-align: center;

                        font-weight: 600;
                    }

            .staffUserProfile{
                height: 10%;
                width: 100%;

                background-color: rgb(239, 194, 126);
            }



    /*        Column Two                 */

    .staff_columnTwo{
        height: 100dvh;
        width: 70%;

        background-color: aliceblue !important;

        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        overflow-y: hidden;
    }