.staffMain_Body{
    height: 100dvh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

    .staff_columnOne{
        height: 100dvh;
        width: 25% !important;

        background-color: aqua;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

            .staffLogo{
                        height: 15%;
                        width: 100%;

                        display: flex;
                        background-color: black !important;
                    }

                     .staffLogo .tgp_logo{
                        height: 100%;
                        width: 30%;

                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        background-color: black !important;
                    }

                    .staffLogo .tgp_logo .img_logo{
                        height: 80%;
                        width: 60%;
                        display: flex;
                    }
                     .staffLogo .tgp_logo .img_logo img{
                        z-index: 99;

                        height: 100%;
                        width: 100%;
                     }

                     .staffLogo .tgp_title{
                        height: 100%;
                        width: 70%;

                       background-color: black !important;

                        display: flex;
                        align-items: flex-end;
                    }

                    .tgp_name{
                        height: 50%;
                        width: 100%;


                        display: flex;
                        align-items: center;

                        font-size: 15px;
                        font-weight: 700;
                        
                        color: #d8bc59;
                    }

            .staffMenu{
                height: 75%;
                width: 100%;

                background-color: black !important;
            }

                    .staffOptions{
                        height: 90%;
                        width: 100%;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .options{
                        height: 10%;
                        width: 90%;
                        padding-top: 8px;

                        background-color: rgba(82, 93, 177, 0.67);
                        text-align: center;

                        font-weight: 600;
                    }

            .staffUserProfile{
                height: 10%;
                width: 100%;

                background-color: rgb(239, 194, 126);
            }



    /*        Column Two                 */

    .staff_columnTwo{
        height: 100dvh;
        width: 75% !important; 

        background-color: aliceblue !important;

        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        overflow-y: hidden;
    }