.staff_mainbody{
    height: 90%;
    width: 90%;

    background-color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    user-select: none;
}

.staff_header1{
    height: 10%;
    width: 100%;

    background-color: white;

    display: flex;
}

.staff_header1 span{
    width: 25% !important;
}

.staff_body{
    height: 90%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


