.clienMainBody{
    height: 100vh;
    width: 100%;
    background-color: aliceblue !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    user-select: none;
}

        .clientColumnOne{
            width: 25%;
            height: 100%;

            background-color: rgba(11, 12, 12, 0.942);

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
                    .clientLogo{
                        height: 15%;
                        width: 100%;

                        display: flex
                    }

                     .clientLogo .tgp_logo{
                        height: 100%;
                        width: 30%;

                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        background-color: rgba(11, 12, 12, 0.942);
                    }

                    .clientLogo .tgp_logo .img_logo{
                        height: 80%;
                        width: 60%;
                        display: flex;
                    }
                     .clientLogo .tgp_logo .img_logo img{
                        z-index: 99;

                        height: 100%;
                        width: 100%;
                     }

                     .clientLogo .tgp_title{
                        height: 100%;
                        width: 70%;

                       background-color: rgba(11, 12, 12, 0.942);

                        display: flex;
                        align-items: flex-end;
                    }

                    .tgp_name{
                        height: 50%;
                        width: 100%;


                        display: flex;
                        align-items: center;

                        font-size: 15px;
                        font-weight: 700;
                        
                        color: #d8bc59;
                    }

                    .clientMenu{
                        height: 75%;
                        width: 100%;

                        background-color: rgba(11, 12, 12, 0.942);

                        color: aliceblue;
                    }

                                .clientOptions{
                                    height: 90%;
                                    width: 100%;

                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }

                                .options{
                                    height: 10%;
                                    width: 90%;
                                    padding-top: 8px;
                                    margin-top: 3%;

                                    background-color: #373737 !important;
                                    text-align: center;

                                    font-weight: 600;
                                }

                    .clientProfile{
                        height: 10%;
                        width: 100%;

                        background-color: rgb(235, 188, 116);
                    }


        .clientColumnTwo{
            width: 75%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            flex-direction: column;
            background-color: aliceblue;
        }
        