.row_header{
    height: 10%;
    width: 100%;

    background-color: bisque;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 1px solid black;
}

.row_datacell{
    height: 90%;
    width: 100%;

    overflow-y: auto;
}

.account-row{
    display: flex;
    border-bottom: 1px solid black;
}

.action_span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;

    cursor: pointer;
}

.span_dots{
    height:5px;
    width: 5px;

    border-radius: 50%;

    background-color: black;
}

.sched_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view_sched{
    font-size: 10px;

    background-color: #e5d08b
}

.delete_staff1{
    position: absolute;

    min-height: 400px;
    width: 25%;

    background-color: #7c7c7c;
    padding: 10px;
}

.deleteform_header1{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.deleteform_header1 span{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;

    border-bottom: 1px solid black;

    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
}

.deleteform_body1{
    height: 90%;
    width: 100%;
}
.question{
    width: 50% !important;
}
.question p{
    font-size: 15px;
}
.delete_buttons1{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.delete_buttons1 button{
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
}

.assign_closebtn{
     background-color: rgb(248, 81, 81) !important;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    color: white !important;
}
.assign_btn{
    background-color: rgb(52, 90, 243) !important;
    color: white !important;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.display_sched{
    position: absolute;

    height:90%;
    width: 63%;

    background-color: #7c7c7c;
}

.sched_header{
    height: 10%;
    width: 100%;

    background-color: rgb(202, 228, 251);

    display: flex;
    justify-content: center;
    align-items: flex-end;

    font-size: 25px;
    font-weight: 600;
}


.invitationList{
    position: absolute;
    height: 65%;
    width: 30%;

    background-color: #ffffff;
    box-shadow: 0 4px 6px 2px rgba(0,0,0,0.1);

    z-index: 99;
}

.invitationList_header{
    height: 10%;
    width: 100%;
    box-shadow: 6px 4px 6px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
}

.send_invi{
    width: 90%;
    height: 100%;

    display: flex;
    align-items: center;

    font-weight: 600;
    box-shadow: 0 4px 6px 2px rgba(0,0,0,0.1);

    border-bottom: 1px solid black;
    
}
.invitationList_body{
    height: 90%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invitationList_options{
    height: 10%;
    width: 80%;

    display: flex;
    
}
.invitationList_options span{
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid black;
    border-top: none !important;
}

.invitationList_members{
    height: 90%;
    width: 100%;

    display: flex;
    overflow-y: auto;
}
.invitationList_members .member-item{
    display: flex;
    height: 45px;
    width: 100%;
    border-bottom: 1px solid black;

    justify-content: space-between;
    box-shadow: 0 4px 6px 2px rgba(0,0,0,0.1);
}

.invitationList_members .member-item p{
    font-size: 15px;
    font-weight: 600;
}
.invitationList_members .member-item button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: black;
    color: white;
}




.invitationList_others{
    height: 90%;
    width: 100%;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.invitationList_others .other-item{
    display: flex;
    height: 45px;
    width: 100%;
    background-color: white;

    justify-content: space-between;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 6px 2px rgba(0,0,0,0.1);
}

.invitationList_others .other-item p{
    font-size: 15px;
    font-weight: 600;
}
.invitationList_others .other-item button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: black;
    color: white;
}

